{% extends 'base.html' %}
{% load static %}

{% block extraHead %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extraHead %}

{% block mainContent %}
<div>
    <header class="home-header">
        <img src="{% static 'images/Logo.png'  %}" alt="" />
        <button onclick="window.location='{% url 'pools-list' %}'">
            Login
        </button>
    </header>

    <div class="home-content">
        <div>
            <p class="home-main-text">
                Crie um <span style="color: #4CAF50">bolão</span><br />
                Compartilhe com <span style="color: #6ED472">amigos</span><br />
                <span style="color: #83DA86">Joguem</span> juntos!
            </p>

            <div class="buttons-flex">
                <button class="primary-button">Entrar com código</button>
                <button class="primary-button">Criar bolão</button>
            </div>
        </div>
        <img src="{% static 'images/fans.png'  %}" alt="" />
    </div>
</div>
{% endblock mainContent %}