.welcome {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.welcome img {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
}

nav {
  margin-left: 1rem;
}

nav a {
  margin-left: 1rem;
  font-size: 25px;
}