form {
  margin-top: 2rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-field label {
  font-size: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 1rem;
  font-size: 30px;
  border: 1px solid #DDDDDD;
  background-color: #f2f2f2;
  border-radius: 8px;
}

input::placeholder {
  font-size: 30px;
  color: #c5c5c5;
}