* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 32px auto;
    width: 1200px;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: black;
}

button {
    cursor: pointer;
}

a {
    all: unset;
    cursor: pointer;
}

.green {
    color: #6ED472;
}

.primary-button {
    border-radius: 0.5rem;
    border: none;
    background-color: #6ED472;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    flex: 1;
    transition: 200ms all;
}

.primary-button:hover {
    background-color: #85db88;
}

/* DIALOG STYLES */
::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: white;
    width: 650px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.modal-content {
    padding: 2rem 3rem;
    position: relative;
}

.close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: none;
}

.close-button svg {
    width: 2rem;
    height: 2rem;
    color: #737373;
}

.modal-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 130%;
}

/* HEADER WHEN LOGGED */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.welcome p {
    font-size: 1.3rem;
    font-weight: 500;
}

.welcome img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
}

nav {
    flex: 1;
    margin-left: 1.5rem;
}

nav a {
    color: black;
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 25px;
    font-weight: 600;
    transition: 150ms;
}

nav a:hover {
    color: #6ED472;
}