.pools-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pool-container {
  position: relative;
  border-radius: 8px;
  border: 2px solid #bababa;
  padding: 1rem 2rem;
  transition: 200ms;
  cursor: pointer;
}

.pool-name {
  font-size: 1.8rem;
}

.pool-participants {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.see-more {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0 8px 8px 0;
}

.see-more svg {
  color: #7a7a7a;
  width: 2rem;
  height: 2rem;
  transition: 200ms;
}

.pool-container:hover svg {
  color: rgb(99, 99, 99);
}

.pool-container:hover {
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
}