{% extends 'base.html' %}
{% load static %}

{% block mainContent %}
<header class="main-header">
  <img src="{% static 'images/Logo.png' %}" alt="" />

  <nav>
    <a href="{% url 'gamesCalendar' %}" class="{% if request.path == '/calendar' %} green {% endif %}">Calendar</a>
    <a href="{% url 'pools-list' %}" class="{% if request.path == '/pools' %} green {% endif %}">Pools</a>
  </nav>

  <div class="welcome">
    <p>Hi, João Vitor</p>
    <img src="{% static 'images/ProfilePic.svg' %}" alt="">
  </div>
</header>
{% endblock mainContent %}