{% extends 'base.html' %}
{% load static %}

{% block extraHead %}
<link rel="stylesheet" href="{% static 'css/pools.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<script src="{% static 'js/modal.js' %}"></script>
{% endblock extraHead %}

{% block mainContent %}
<header class="main-header">
  <img src="{% static 'images/Logo.png' %}" alt="" />

  <nav>
    <a href="{% url 'gamesCalendar' %}" class="{% if request.path == '/calendar' %} green {% endif %}">Calendar</a>
    <a href="{% url 'pools-list' %}" class="{% if request.path == '/pools' %} green {% endif %}">Pools</a>
  </nav>

  <div class="welcome">
    <p>Hi, João Vitor</p>
    <img src="{% static 'images/ProfilePic.svg' %}" alt="">
  </div>
</header>

<button id="create-pool" class="primary-button" style="margin-top: 4rem;">Create new</button>

<div class="pools-list">
  <a href="" class="pool-container" title="Ver detalhes">
    <p class="pool-name">Bolão da firma</p>
    <p class="pool-participants">10 participants</p>
    <div class="see-more">
      <i data-lucide="chevron-right"></i>
    </div>
  </a>
</div>

<dialog>
  <div class="modal-content">
    <button class="close-button">
      <i data-lucide="X"></i>
    </button>

    <p class="modal-title">Create your own pool</p>

    <form method="post">
      {% csrf_token %}
      <div class="form-content">
        <div class="form-field">
          <label>Name</label>
          {{context.form.name}}
        </div>

        <div class="form-field">
          <label>Pool code</label>
          {{context.form.code}}
        </div>

        <button class="primary-button">Create</button>
      </div>
    </form>
  </div>
</dialog>
{% endblock mainContent %}