.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-header button {
    color: #4CAF50;
    font-size: 1.5rem;
    border: 2px solid #4CAF50;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    background-color: transparent;
}

.home-content {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.home-main-text {
    line-height: 120%;
    font-size: 56px;
    font-weight: 600;
}

.buttons-flex {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
}